[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c
[submodule "themes/sawmill"]
	path = themes/sawmill
	url = https://github.com/forestryio/sawmill.git
[submodule "themes/educenter"]
	path = themes/educenter
	url = https://github.com/themefisher/educenter-hugo
[submodule "themes/hugo-hero-theme"]
	path = themes/hugo-hero-theme
	url = https://github.com/zerostaticthemes/hugo-hero-theme
